body{

  background-color: #beb8b8;
}
.to-do-list{
  text-align: center;
  margin-top: 50px;
}
h1{
  font-size: 3rem;
}
button{
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  /* color: white; */
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.5 ease;
}
.add-btn{
  background-color: hsl(120, 95%, 62%);
}
.add-btn:hover{
  background-color: hsl(120, 95%, 52%);
}
.delete-btn{
  background-color: hsl(0, 91%, 49%);
}
.delete-btn:hover{
  background-color: hsl(0, 91%, 39%);
}
.move-btn{
  background-color: hsl(240, 68%, 55%);
}
.move-btn:hover{
  background-color: hsl(240, 68%, 45%);
}
input[type='text']{
  font-size: 1.6rem;
  padding: 10px;
  border-radius: 10px;
  color: hsla(0, 0%, 0%, 0.5);
}
ol{
  padding: 0;
}
li{
  font-size: 2rem;
  font-weight: bold;
  margin: 10px;
  background-color: #dbd9d9;
  border-radius: 10px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

}
.text{
  flex:1;
}
.delete-btn, .move-btn{
  padding: 10px 12px;
  font-size: 1.5rem;
}
